.header {
    background: url(../img/background_header.png) no-repeat top center;
    background-size: cover;
    width: 100%;
    padding: 175px 0;
    font-family: Effra;
    @media screen and (min-width: 768px){
        padding: 268px 0;
        padding-bottom: 380px;
    }
    &__title {
        text-align: center;
        h1{ 
            color: #ffffff;
            font-size: 35px; 
            @media screen and (min-width: 768px){
                font-size: 52px;
                margin-bottom: 70px;
            }
        }
        &__button {
            margin-top: 25px;
            a{
                display: inline-block;
                background-color: #ffffff;
                border-radius: 3px;
                padding: 5px 8px 2px 8px;
                color: #3a94cc;
                font-size: 17px;
                border-bottom: 3px solid #dcdcdc;
                text-decoration: none;
                @media screen and (min-width: 768px){
                    font-size: 26px;
                }
            }
        }
    }

}

.div{
    &.affix{
        padding-top: 100px;
    }
}
.espiritual {
    padding: 15px 0;
    background-color: #ffffff;
    text-align: center;
    h4 {
        font-size: 20px;
        text-align: center;
        @media screen and (min-width: 768px){
           text-align: left;
           font-size: 25px;
           margin-left: 30px;
           margin-top: -10px;
        }
    }
    &__title {
        text-align: center;
        color: #3a94cc;
        font-size: 25px;
        text-transform: uppercase;
        @media screen and (min-width: 768px){
            font-size: 35px;
        }
        }
    &__text {
        font-size: 16px;
        padding: 15px;
        text-align: justify;
        font-weight: 300;
        @media screen and (min-width: 768px){
            font-size: 17px;
            text-align: left;
            padding: 10px 30px 20px 30px;
        }
    }
    &__button {
        margin-top: 25px;
        a{
            display: inline-block;
            background-color: #3a94cc;
            border-radius: 3px;
            padding: 2px 8px 2px 8px;
            margin-bottom: 20px;
            color: #ffffff;
            font-size: 19px;
            border-bottom: 3px solid #1771a9;
            text-decoration: none;
            @media screen and (min-width: 768px){
                font-size: 26px;
            }
        }
    }
}

.resultados {
    background: url(../img/background_resultados.png) no-repeat top center;
    background-size: cover;
    width: 100%;
    padding: 30px 0 10px 0;
    background-color: #42a1dc;
    text-align: center;
    &__title {
        color: #ffffff;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 27px;
        @media screen and (min-width: 768px){
            font-size: 24px;
        }
    }
    &__plus-minus {
        padding: 20px 0 0 0;
        color: #ffffff;
        text-transform: uppercase;
        font-size: 14px;
        text-align: left;
        @media screen and (min-width: 768px){
            font-size: 20px;
            padding: 20px 0;
        }
        &__lista {
            padding-left: 0;
            &__item {
            list-style: none;
            margin: 15px 0;
            font-weight: 300;
            .fa-minus:nth-child(n){
                color: #ff0000;
            }
            .fa-plus:nth-child(n){
                color: #00f534;
            }
            }
            &__icon {
            margin-right: 8px;  
            }
        }
    }
}
.cadastre {
    background: url(../img/background_cadastre.png) no-repeat top center;
    background-size: cover;
    width: 100%;
    padding: 30px 0;
    @media screen and (min-width: 768px){
        position: relative;
        padding: 90px 0;
    }
    background-color: #aeb7be;
    &-drive {
        margin-left: 10px;
    }
    &__title {
        color: #ffffff;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 25px;
        @media screen and (min-width: 768px){
           font-size: 30px;
        }
    }
    &__img {
        position: absolute;
        margin-left: 40px;
        height: 90px;
        width: 80px;
        display: inline-block;
        right: 60px;
        top: 50px;
        @media screen and (min-width: 425px){
            top: 30px;
        }
        @media screen and (min-width: 768px){
            right: 160px;
            top: 50px;
            height: 150px;
            width: 148px;
        }
        @media screen and (min-width: 992px){
            right: 110px;
            top: -70px;
            height: 300px;
            width: 280px;
        }
    }
    &__button {
        margin-top: 25px;
        display: inline-block;
        background-color: #fff;
        border-radius: 3px;
        padding: 2px 8px 2px 8px;
        margin-bottom: 20px;
        font-size: 19px;
        border-bottom: 3px solid #dcdcdc;
        @media screen and (min-width: 768px){
            font-size: 26px;
         }
        a {
            color: #3a94cc;
            text-decoration: none;
        }
    }
}

.funciona {
    background: url(../img/background_funciona.png) no-repeat top center;
    background-size: cover;
    width: 100%;
    padding: 30px 0;
    background-color: #ac1b9c;
    text-align: center;
    &__title {
        color: #ffffff;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 27px;
        text-transform: uppercase;
    }
    &__topics {
        text-align: center;
        color: #ffffff;
        @media screen and (min-width: 1200px){
            margin: 50px 0 110px 0;
        }
        h2 {
            font-size: 22px;
            @media screen and (min-width: 1200px){
                font-size: 24px;
                text-align: left;
            }
        }
        p {
            font-size: 15px;
            @media screen and (min-width: 1200px){
                font-size: 19px;
                font-weight: 300;
                text-align: left;
            }
        }
        img {
            display: inline-block;
            margin: 30px 0 10px 0;
            @media screen and (min-width: 1200px){
                display: inline-block;
                margin-top: 8px;
                margin-bottom: 360px;
            }
        }
        &__rope {
            background: url(../img/funciona_corda.png) no-repeat top center;
            height: 587px;
            width: 275px;
            margin-left: -60px;
            margin-top: 50px;
        }
        &-left-drive {
            margin-left: -50px;
            &__first {
                margin-left: -50px;
            }
            &__last {
                margin-left: -50px;
                img {
                    margin-bottom: 0;
                }
            }
        }
        &-right-drive {
            margin-right: -18px;
            margin-left: 15px;
        }
        &-drive-row {
            &-first {
                margin-top: 170px;
            }
            &-last {
                img {
                margin-bottom: 0;
                }
            }
        }
    }
        &__button {
        margin-top: 25px;
        display: inline-block;
        background-color: #fff;
        border-radius: 3px;
        padding: 2px 8px 2px 8px;
        margin-bottom: 20px;
        font-size: 19px;
        border-bottom: 3px solid #dcdcdc;
        @media screen and (min-width: 768px){
            font-size: 32px;
        }
        a {
            color: #ac1b9c;
            text-decoration: none;
        }
    }
}
.atendimentos {
    padding: 15px 0;
    background-color: #ffffff;
    text-align: center;
    &__title {
        color: #3a94cc;
        font-size: 27px;
        text-transform: uppercase;
        @media screen and (min-width: 768px){
            font-size: 32px;
        }
        }
    &__text {
        font-size: 16px;
        padding: 5px;
        font-weight: 300;
        @media screen and (min-width: 768px){
            font-size: 20px;
        }
    }
    &__topics {
        text-align: center;
        &__item {
            display: inline-block;
            font-size: 15px;
            text-transform: uppercase;
            margin-right: 20px;
            @media screen and (min-width: 768px){
                font-size: 26px;
                margin-right: 100px;
            }
            &:last-child{
                margin-right: 0;
            }
            &__icon{
                margin-bottom: 8px;
                height: 1.2em;
                display: inline-block;
            }
        }
    }
}
.planos {
    background: url(../img/background_planos.png) no-repeat top center;
    background-size: cover;
    width: 100%;
    background-color: #ac1b9c;
    text-align: center;
    padding: 10px 0 30px 0;

    @media screen and (min-width: 768px){
        padding: 10px 0 70px 0;
        margin: 0;
        &-right {
            float: right;
        }
        &-left {
            float: left;
        }
    }
    &__title {
        display: inline-block;
        padding: 25px 0 10px 0;
        color: #ffffff;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 32px;
        text-transform: uppercase;
        margin-bottom: 35px;
    }
    &__card {
        color: #1b75af;
        max-width: 280px;
        text-align: center;
        border-radius: 5px;
        padding-right: 0;
        padding-left: 0;
        background: #fff;
        margin-left: auto;
        margin-right: auto;
        display: block; 
        &__gray {
            background: #ddd;
        }
        @media screen and (min-width: 768px){
            &:last-child {
                margin-right: -15px;
                margin-left: -15px;
                margin-bottom: -10px;
            }
        }
        img {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
        &__text {
            padding: 5px;
            margin: 6px;
            margin-bottom: 20px;
            h2 {
                font-size: 22px;
                text-transform: uppercase;
            }
            h3 {
                margin: 0;
                font-size: 30px;
                padding: 15px;
            }
            p {
                font-size: 17px;
                font-weight: 300;
            }
        }
        &__bigger-text {
            font-size: 50px;
        }
        &__smaller-text {
            font-size: 20px;
        }
    }
}

.acompanhamento {
    background: url(../img/background_acompanhamento.png) no-repeat top center;
    background-size: cover;
    width: 100%;
    padding: 40px 0;
    &-drive {
        margin-left: 10px;
    }
    @media screen and (min-width: 425px){
        padding: 50px 0;
    }
    @media screen and (min-width: 425px){
        padding: 50px 0;
    }
    @media screen and (min-width: 1200px){
        padding: 150px 0;
    }
    &__button {
        display: inline-block;
        background-color: #3a94cc;
        border-radius: 3px;
        font-size: 15px;
        border-bottom: 3px solid #1771a9;
        text-align: center;
        padding:5px;
        @media screen and (min-width: 769px){
            font-size: 28px;
            margin-top: 60px;
            padding:8px;
        }
        a {
            color: #fff;
            text-decoration: none;
        }
    }
}

.formulario {
    background: url(../img/background_funciona.png) no-repeat top center;
    background-size: cover;
    width: 100%;
    padding: 40px 0;
    background-color: #42a1dc;
    text-align: center;
    &__title {
        color: #ffffff;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom:40px;
        font-size: 27px;
        @media screen and (min-width: 768px){
            font-size: 24px;
        }
    }
    &__fields {
        width: 97%;
        height: 45px;
        padding-left: 10px;
        background: #ffffff;
        border: 2px #ffffff solid;
        margin-bottom: 15px;
        color: rgb(36, 36, 36);
        font-size: 17px;
        border-radius: 3px;
        @media screen and (min-width: 768px){
            width: 50%;
        }
        &__text-area {
            height: 120px;
        }
    }
    &__button {
        font-family: Effra;
        display: inline-block;
        border: none;
        padding: 5px 10px;
        border-radius: 3px;
        color: #ac1b9c;
        font-size: 19px;
        background-color: #fff;
        border-bottom: 3px solid #dcdcdc;
        @media screen and (min-width: 768px){
            font-size: 28px;
        }
    }
}

.footer {
    display: flex;
    background-color: #3a94cc;
    &__down {
        margin-top: 40px;
    }
    a {
        margin: 0 15px;
        text-decoration: none;
        color: #ffffff;
        font-size: 19px;
        @media screen and (min-width: 425px){
            font-size: 24px;
        }
    }
    &__img {
        height: 1.5em;
        margin-left: 25%;
        @media screen and (min-width: 425px){
            height: 1.5em;
            margin-left: 25%;
        }
        @media screen and (min-width: 768px){
            height: 50px;
            margin-left: 75%;
        }
    }
}

@media screen and (max-width: 930px){
    .text-right {
        text-align: justify;
        padding: 0 15px;
    }
}