.content-notfound{
	width: 100%;
	height: 100%;
	background: #f3f3e1;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	font-size: 62.5%;
	padding: 100px 0;

	.wrapper{
		font-family: 'notfound';
		width: 100%;
		text-align: center;

		@include min-screen('768px'){
			width: 30%;
		}

		.notfound-title{
			margin: 0;
			color: #8F8E8C;
			font-size: 20rem;
	    	text-shadow: 1px 1px 6px #fff;
		}

		.notfound-subtitle{
			color: rgb(228, 146, 162);
		    font-size: 2rem;
		    display: block;
		    margin-bottom: 3rem;
		}

		.btn{
			color: white;
		    background: #8F8E8C;
		    text-decoration: none;
		    padding: 7px 120px;
		    font-size: 13px;
		    font-family: arial, serif;
		    font-weight: bold;
		    -webkit-border-radius: 3em;
		}
	}
}