.nav-custom{
	background: transparent;
	border: none;
	transition: 0.5s all;
	.navbar-toggle {
		background-color: #fff;
		border-color: #fff;
		margin-top: 13px;
		&:hover{
			background-color: #fff;
			border-color: #fff;
		}
	}
	.logo {
		padding: 1em;
		@media screen and (min-width: 768px){
			margin-top: 10px;
		}
	}
	.navbar-nav>li>a {
		color: #ffffff;
	}
	.navbar-collapse{
		transition: 0.5s all;
		background-color: rgba(255, 255, 255, 0.842);
		@media screen and (min-width: 768px){
			background-color: transparent;
		}
		text-transform: uppercase;
		.navbar-nav>li>a {
			color: #3a94cc;
			@media screen and (min-width: 768px){
				margin-top: 30px;
				color: #ffffff;
			}
		}
	}
}
.affix{
	transition: 0.5s all;
	background: #3a94cc;
	@media screen and (min-width: 768px){
		padding-bottom: 15px;
		color: #ffffff;
	}
}
