@include font-face('notfound','Courgette-Regular');

@font-face{
    font-family: Effra;
    src: url(../fonts/Effra_Std_0.ttf);
    font-weight: 700;
}
@font-face{
    font-family: Effra;
    src: url(../fonts/Effra_Std_Md_0.ttf);
    font-weight: 500;
}
@font-face{
    font-family: Effra;
    src: url(../fonts/Effra_Std_Lt_0.ttf);
    font-weight: 300;
}

body {
    font-family: Effra;
}